body{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin: 0 ;
    font-family: sans-serif;
}

#grid-container {
    width: 960px;
    height: 960px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.square {
    box-sizing: border-box;
    border: 1px solid #ddd;
}
