body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(244, 235, 243);
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
}

#grid-container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    border: 2px solid #333;
}

.square {
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 6px;
}